<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BaseOfNames" value="C:\\Users\Kris\source\repos\XML_Generator\LINQ\bin\Debug\netcoreapp3.1\BaseOfNames.xml" /> 
    <add key="BaseOfPayments" value="C:\\Users\Kris\source\repos\XML_Generator\LINQ\bin\Debug\netcoreapp3.1\BaseOfPayments.xml" />
    <add key="NamesPath" value="C:\\Users\Kris\source\repos\XML_Generator\LINQ\bin\Debug\netcoreapp3.1\Names.txt" />
    <add key="LastNamesPath" value="C:\\Users\Kris\source\repos\XML_Generator\LINQ\bin\Debug\netcoreapp3.1\LastNames.txt" />
    <add key="MonitoringFolder" value="C:\\Users\Kris\source\repos\XML_Generator\LINQ\bin\Debug\netcoreapp3.1" />
  </appSettings>
</configuration>
